.page {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
}

.check {
    color: green;
    font-size: 3lh;
}

.confirm {
    margin: auto;
}

.backLink {
    display: inline-block;
    margin-bottom: 12px;
    background-color: rgb(134, 129, 129);
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-left: 25px;
    border-radius: 8px;
}

.backLink:hover {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}